<!-- create_applicant_profile.html -->
{% extends 'base_generic.html' %}
{% block content %}
    <h1>Create Applicant Profile</h1>
    <form id="profileForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="encryptAndSubmit()">Save</button>
    </form>

    <!-- Include CryptoJS library for AES encryption -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script>
        function encryptAndSubmit() {
            //var encryptionKey = CryptoJS.lib.WordArray.random(16);
            var encryptionKey = localStorage.getItem('applicantProfileKey');

            // Encrypt the data in the client
            var past_work_experience = document.getElementById('id_past_work_experience');
            past_work_experience.value = CryptoJS.AES.encrypt(past_work_experience.value, encryptionKey).toString();
            var abilities_skills = document.getElementById('id_abilities_skills');
            abilities_skills.value = CryptoJS.AES.encrypt(abilities_skills.value, encryptionKey).toString();
            var education = document.getElementById('id_education');
            education.value = CryptoJS.AES.encrypt(education.value, encryptionKey).toString();
            var achievement_honors = document.getElementById('id_achievement_honors');
            achievement_honors.value = CryptoJS.AES.encrypt(achievement_honors.value, encryptionKey).toString();
            var tell_the_employer = document.getElementById('id_tell_the_employer');
            tell_the_employer.value = CryptoJS.AES.encrypt(tell_the_employer.value, encryptionKey).toString();

            document.getElementById("profileForm").submit();
        }
    </script>
</body>
</html>
{% endblock %}