<!-- privacy-policy/privacy_policy.html -->
{% extends 'base_generic.html' %}

{% block content %}
    <h2>Privacy Policy</h2>
    <div>
        <h4>What we collect</h4>
        <h5>For Applicants</h5>
        <p>If you have an account, we only collect your email address and whatever information you choose to put on your profiles.</p>
        <p>If you do not have an account, we collect nothing.</p>
        <p>We do not use cookies or trackers, either first-party or third-party, to collect your activities and metadata generated while visiting the site.</p>
        <h5>For Employers</h5>
        <p>We collect your email address, business address, company name, and whatever other information you choose to put in your profile.</p>
        <p>We also obviously collect and store your job posts but do not collect any job application metadata.</p>
        <p>When doing document verification, we collect your uploaded documents but will delete them immediately when verification is complete.</p>
        <p>We do not use cookies or trackers, either first-party or third-party, to collect your activities and metadata generated while visiting the site.</p>
    </div>
    <div>
        <h4>How we collect it</h4>
        <h5>For Applicants</h5>
        <p>Your email and profile information are collected at creation time by storing what you input for those fields.</p>
        <h5>For Employers</h5>
        <p>Your email and profile information are collected at creation time by storing what you input for those fields.</p>
        <p>Your documents are stored for verification when you upload them.</p>
    </div>
    <div>
        <h4>Why we collect it</h4>
        <h5>For Applicants</h5>
        <p>Your email is only used to exchange with the employer's email that you have applied for once they have chosen to show interest in your profile.</p>
        <p>Your profile information is only given to the employer after you apply for a job.</p>
        <p>We do not sell, identify or process your personal information for profit or analytical purposes in any way.</p>
        <h5>For Employers</h5>
        <p>Your email is only used to exchange with an applicant's email after you express intrest in an applicant's profile after they have applied to one of your job postings.</p>
        <p>Your profile information is only used to display information about your company to applicants.</p>
        <p>Your documents are only used to verify the information you enter in your profile to prevent cases of fraud.</p>
        <p>We do not sell, identify or process your personal information or information about the company for profit or analytical purposes in any way.</p>
    </div>
    <div>
        <h4>Suggestions for applicants using the site</h4>
        <p>For maximum privacy, consider using an anonymous email or email masking service, so that anyone getting access to your email cannot trace your identity backwards.</p>
        <p>It is possible and recommended to use an alias to create an applicant file.</p>
        <p>To ensure maximum privacy, it is also recommended to not include any personal identifier like driver’s license number, postal code or phone number in any applicant profile field.</p>
        <p>If you need to include third-party sites that include your work, it would be best to configure that site so that you are not traceable from there either.</p>
        <p>Semi-identifiers like the city you are currently living in, the universities you went to, or the companies you worked for previously might be necessary for a decent knowledge about the applicant and for a HR personnel to be interested in you.</p>
        <p>You can trust your profile with us: we have an encryption program that encrypts your profiles before then are stored, and we do not simply retrieve your profile, decrypt it, and start reading it either.</p>
        <p>You have unlimited access to your stored profile content, and you can view, modify and delete your profile content at any time.</p>
        <p>Your profile information is immediately wiped from our database upon its deletion. We do not retain your profiles for an extended amount of time.</p>
    </div>


{% endblock %}